<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="navbar-header">
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/download_PBD_icon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Sansukumi-ken(三すくみ拳)
  </a>
  </div>
  <!--Navbar Links-->
  <div>
    <ul class="navbar-nav navbar-right">
      <li class="active nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/instructions">Instruction</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/help">Help</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/history">History</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about">About Me</a>
      </li>
    </ul>
  </div>
</nav>